.header-wrapper {
  display: flex;
  justify-content: start;
  margin-bottom: 15px;
}

ul {
  list-style: none;
}

.nav-button {
  background-color: rgb(38, 17, 85);
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s background-color ease;
}

.nav-button:hover {
  background-color: rgb(52, 26, 109);
}

a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2rem;
}
