.scores-wrapper {
  margin-top: 20px;
}

.scores-wrapper table {
  width: 100%;
  overflow: hidden;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 10px;
  border: 2px solid #430c0c;
}

thead {
  background-color: #430c0c;
}
tr {
  border-radius: 15px;
  transition: 0.2s opacity ease;
}
tr:hover {
  opacity: 0.5;
}

tr:nth-child(2n + 2) {
  background-color: rgb(31, 31, 31);
}

th {
  font-size: 1.5rem;
}
td,
th {
  text-align: center;
  padding: 20px 5px;
}

.centered {
  display: flex;
  justify-content: center;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-color: #ccc #0000;
  animation: l16 1s infinite linear;
}
.loader::before,
.loader::after {
  content: '';
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
}
.loader::before {
  border-color: #f03355 #0000;
  animation: inherit;
  animation-duration: 0.5s;
  animation-direction: reverse;
}
.loader::after {
  margin: 8px;
}
@keyframes l16 {
  100% {
    transform: rotate(1turn);
  }
}
